// Sass Variables
$blue: #64b5f6;
$pink: #ff80ab;
$orange: #ffcc80;
$dark-grey: #757575;
$black-grey: #606c76;

// .index related sass
.index {
    h4:after {
        content:' ';
        display:block;
        border:1px solid #d0d0d0;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
        -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05); 
    }
    .row {
        .column.column-30 {
            flex: 0 0 30%;
            max-width: 30%;
            border-right:2px solid #d0d0d0;
            height: auto;
        }
    }
    .center {
        text-align: center;
    }
    .row-style {
        min-height: 20em;
    }
    #btn-group {
        min-height: 8rem;
        text-align: center;
        .button-black {
            color: $black-grey;
            border-color: $black-grey;
        }
        .button-black:hover {
            color: $pink;
            border-color: $pink;
        }
    }
    .student {
        cursor: pointer;
    }
    blockquote {
        font-weight: 400;
        color: black;
        border-color: $dark-grey;
    }
    blockquote.blue {
        background: $blue;
    }
    blockquote.pink {
        background: $pink;
    }
    blockquote.orange {
        background: $orange;
    }
}

// Non-nested sass
.button-cancel {
    background-color: $pink;
    border-color: $pink;
}
.hidden {
    visibility: hidden;
}